*, ::placeholder {
    color: bisque;
}

@keyframes BtnSwitch{
    0%{
        opacity: 1;
        content: 'Login';
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        content: 'Login';
    }
}


body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(../img/1654748790_47-furman-top-p-priroda-art-minimalizm-krasivo-oboi-48.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    main{
        width: 100%;
        height: 100vh;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        section{
            background-color: #ff895f50;//352748
            border-radius: 10px;
            width: 60%;
            // height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                height: 60px;
                font-size: 200%;
                cursor: pointer;
            }
            #logIn{
                font-size: 150%;
                transition: font-size 0.5s ease-in-out;
            }
            #signIn{
                font-size: 100%;
                transition: font-size 0.5s ease-in-out;
            }
            
            input, button{
                border: none;
                outline-color: bisque;
                background-color: #6e3b2870;//352748
                margin-bottom: 32px;
                width: 60%;
                height: 60px;
                border-radius: 10px;
                font-size: 150%;
                padding-left: 1%;
                transition: all 1s;
            }
            button{
                width: 20%;
                cursor: pointer;
                transition: font-size 0.5s ease-in-out;
            }
            button:active{
                background: #ff895f50;
                border: #6e3b2870 solid 1px;
                border-bottom: 1px;
            }
        }
    }
}